/* Variáveis padronizadas. */

:root {
    --main-brown: burlywood;
    --main-red: darkred;
    --main-white: white;
}

/* Reset da base */

* {
    margin: 0;
    padding: 0;
}

/* Box-sizing e tamanho da fonte */

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Young Serif", sans-serif;
}

main {
    margin-top: 70px; /* Adiciona uma margem no topo para evitar a sobreposição */
    padding: 20px; /* Espaçamento interno no conteúdo principal */
}

dialog::backdrop {
    background-color: black (0 0 0 / .3);
}

.pop-up {
    text-align: justify;
    width: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: .5rem;
    box-shadow: 0 0 1em (0 0 0 / .3);
}

.pop-up button {
    border: none;
    display: inline-block;
    background: rgb(81, 92, 104);
    color: #fff;
    border-bottom: none;
    padding: 10px 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-left: 15px;
    cursor: pointer
}

/* Estabelecendo os break points para mudança de tela. */

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
    html {
        font-size: 60%;
    }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
    html {
        font-size: 55%;
    }
}

/* 760px / 16px = 47.5em */
@media (max-width: 47.5em) {
    html {
        font-size: 52.5%;
    }
}

/* 540px / 16px = 33.75em*/

/* 420px / 16px =  26.25em*/
@media (max-width: 26.25em) {
    html {
        font-size: 50%;
    }
}

/* Barra de navegação */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background: var(--main-brown);
    box-shadow: 0 2px 0 var(--main-red);
    z-index: 10;
}

.logo {
    border-radius: 50%;
    width: 6.5em;
    padding: 0.5em;
}

.nav-bar a {
    padding: 1.5em;
    font-size: 2em; 
    font-weight: 550;
}

.nav-bar a:hover {
    background: var(--main-white);
}

.nav-bar a:hover, .nav-bar a:visited, .nav-bar a:link {
    color: var(--main-red);
}

.nav-bar a:last-of-type {
    margin-right: 1.5em;
}

#imagem-rifa {
    width: 20%;
    height: auto;
    border-radius: 10px;
}

@media (max-width: 75em) {
    .nav-bar a {
        padding: 1.5em 1em;
    }
}

@media (max-width: 47.5em) {
    .nav-bar a {
        padding: 1.2em 1em;
    }

    .nav-bar a:last-of-type {
        margin-right: 0;
    }
}

@media (max-width: 33.75em) {
    .nav-bar a {
        padding: 1.2em 0.5em;
    }
}

@media (max-width: 26.5em){
    .nav-bar a {
        font-size: 1.6em;
    }

    .nav-bar a:hover {
        background: unset;
    }
}

/* Estilo do Rodapé */

footer {
    background-color: var(--main-brown);
    position: fixed;
    height: 4%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    align-items: center;
    border-top: 2px solid var(--main-red);
}

#inc {
    color: var(--main-red);
    opacity: .6;
    padding-right: 5px;
}

#adesivo {
    height: 3.5vh;
    padding-left: 5px;
}

/* Estilo Main - Página Index*/

main {
    display: flex;
    flex-direction: column;
}

/* Estilo main-page */

.front-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main h1 {
    color: var(--main-red);
    font-size: 10em;
    text-align: center;
    margin: 0.8em;
    font-weight: 500;
}

main h3 {
    color: var(--main-red);
    font-size: 4em;
    text-align: center;
    font-weight: 300;
    margin: 0.5em;
}

.newsletter {
    width: 80%;
    margin: 8em auto;
}

#type_email {
    padding: 1em;
    margin: 1em auto;
    background-color: rgba(153, 153, 153, 0.2);
}

#submit_button {
    background-color: var(--main-red);
    opacity: .8;
    padding: 1em;
    margin: 2em auto;
    color: var(--main-white);
}

@media (max-width: 61.25em) {
    main {
        grid-template-rows: 50% 10% 15% 15%;
    }

    main h1 {
        font-size: 8em;
    }

    main h3 {
        font-size: 3em;
    }
}

@media (max-width: 33.75em) {
    main h1 {
        font-size: 7em;
    }

    main h3 {
        font-size: 2.5em;
    }
}

@media (max-width: 26.5em) {

    main {
        grid-template-rows: 60% 10% 10% 10%;
    }

    main h1 {
        margin: 0;
        margin-bottom: 0.8em;
    }

    main h3 {
        font-size: 1.8em;
        margin: 0;
    }
}

/* Estilo da segunda página do index */

.second-page {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 85vh;
}

section h2 {
    color: var(--main-red);
    font-size: 6em;
    font-weight: 350;
    text-align: center;
    margin-bottom: 0.5em;
}

iframe {
    width: 65vw;
    aspect-ratio: 16/9;
    padding-bottom: 4em;
}

#imagem-rifa {
    width: 100%;
}

@media (max-width: 75em) {
    .second-page {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    iframe {
        width: 90vw;
    }

    .rifa {
        display: flex;
        flex-direction: column;
        padding-bottom: 5em;
        justify-content: center;
    }

    #imagem-rifa {
        width: 65vw;
    }

}

/* ESTILOS DO FORMULÁRIO*/

.contact-form {
    text-align: left;
}

.form-submit {
    display: inline-block;
    background: rgb(81, 92, 104);
    color: #fff;
    border-bottom: none;
    width: auto;
    padding: 15px 39px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-left: 15px;
    cursor: pointer
}
.form-submit:hover {
    background: rgb(129, 145, 161);
}
.form-group {
    position: relative;
    margin-bottom: 25px;
    overflow: hidden;
    display: inline-flex;
    margin-left: 25px;
}
.form-group:last-child {
    margin-bottom: 0
}
label {
    color: lightslategrey;
}
input {
    outline: none;
    width: 100%;
    display: block;
    color: rgb(47, 55, 63);
    font-size: 17px;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    box-sizing: border-box
}
::placeholder {
    color: rgb(166, 179, 196);
    font-size: medium;
}
.label-agree-term {
    position: relative;
    top: 0%;
}
.agree-term {
    display: inline-block;
    width: auto
}
.term-service {
    font-size: 13px;
    color: #222
}
input[type=checkbox]+label {
    display: inline-block;
    line-height: 1.5em;
    margin-top: 6px;
}
p {
    margin-bottom: 0;
    font-size: 16px;
    color: rgb(97, 112, 128);
    text-align: center;
}

/*ESTILO DA TABELA DE LEITURA DO FORMS */

table.tableCSS {
    background-color: #c6a152a8;
    text-align: left;
    padding: 10px;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
table.tableCSS td {
    border: 5px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #dbdbdb;
}
table.tableCSS th {
    background-color: #eaedf1;
    border-radius: 10px;
    height: 30px;
    color: rgb(97, 112, 128);
    text-align: center;
}

/*ESTILO DOS PRODUTOS */
.conteiner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--main-white);
    padding: 20px;
    margin-top: 5em;
}

.product img {
    margin-top: 10px;
    width: 310px;
    height: auto;
}

.product {
    text-align: center;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 10px;
}

.whitebox {
    background-color: white;
    padding: 20px;
    box-shadow: 10px 11px 32px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 11px 32px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 11px 32px 0px rgba(0,0,0,0.75);
}

.items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px
}

.item {
    background-color: var(--main-white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.item button {
    border: none;
    border-radius: 5px;
    color: var(--main-red);
    font-weight: 800;
    background-color: var(--main-brown);
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.5);
    padding: 1em;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    margin-bottom: 1em;
}

.item h3 {
    font-size: 2.8em;
    margin: 10px 0px 10px 0px;
}

#imagem-produto {
    width: 310px;
    height: 310px;
}

.sell {
    border-radius: 4px;
    background-color: var(--main-red);
    color: whitesmoke;
    position: absolute;
    top: 10px;
    left: 5px;
    height: auto;
    text-align: center;
    padding: 5px;
}

@media (max-width:680px) {
    .items {
        display: block;
    }
    .item {
        margin-bottom: 30px;
    }
}


/*ESTILO DOS MODAIS */


.modal {
    position: absolute;
    display: none;
    left: 30%;
    top: 30%;
    max-width: 200px;
    background-color: rgb(252, 244, 220);
    border-radius: 10px;
    padding: 5px 5px;
    box-shadow: 0 25px 25px rgb(0 0 0 / 30%);
}

.modal .info {
    color: crimson;
    font-size: medium;
    padding-left: 10px;
    text-align: center;
}

.modal .infoH {
    color: rgb(189, 103, 69);
    font-size: medium;
    text-transform: uppercase;
    padding-left: 10px;
    text-align: center;
}

.conteiner .item .modalButton {
    outline: none;
    background-color: rgb(172, 141, 99);
    color: white;
    width: 100%;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    padding: 7px 7px;
    box-shadow: 0 25px 25px rgb(0 0 0 / 30%);
    cursor: pointer
}

.topright {
    position: absolute;
    right: 5px;
    border-radius: 4px;
    padding: 2px;
    top: 0;
    background-color: crimson;
    color: #fff;
    cursor: pointer
}